.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  transition: all, 0.3s ease 0s;

  &:hover {
    transform: translateY(-4px);
  }

  &__image-container {
    padding-top: 30%;
    position: relative;

    @media (max-width: 500px){
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    padding: 0 20px 20px;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    font-family: 'Ultra', serif;
  }

  &__info {
    display: flex;
    align-items: center;
    align-self: end;

    span {
      margin-left: 10px;
      font-weight: bold;
    }
  }

  @media (max-width: 1000px) {
    grid-column-end: span 6;
  }

  @media (max-width: 700px){
    grid-column-end: span 12;
  }
}
