@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ultra&display=swap');

.App {
  background-color: #303032;
  min-height: 100vh;
  font-family: 'Bree Serif', serif;
}

.wrapper {
  margin: 40px;
}

.help {
  display: flex;
}

.is-absolute {
  position: absolute;
  bottom: -20px;
}
