@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ultra&display=swap');

.App {
  min-height: 100vh;
  font-family: 'Bree Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(214, 98, 240);
  background: linear-gradient(
    343deg,
      rgba(0, 255, 202, 1) 0%,
      rgba(64, 212, 251, 1) 42%,
      rgba(214, 98, 240, 1) 100%
  );
}

.wrapper {
  margin: 40px;
}

.help {
  display: flex;
}

.is-absolute {
  position: absolute;
  bottom: -20px;
}
